copyright: Copyright (c) Abstract Machines
repo_url: https://github.com/absmach/propeller-docs.git
site_description: Propeller Documentation
site_name: Propeller
site_url: ""
edit_uri: ""

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.code.annotate

extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid-init.js

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: "#"

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Architecture: architecture.md
  - Manager: manager.md
  - Proplet: proplet.md
  - Embedded Proplet: embedded-proplet.md
  - Proxy: proxy.md
  - Developer's Guide: developer-guide.md
  - Zephyr: zephyr.md
