copyright: Copyright (c) Abstract Machines
repo_url: https://github.com/absmach/propeller-docs.git
site_description: Propeller Documentation
site_name: Propeller
site_url: ""
edit_uri: ""

theme:
  name: material
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: "#"

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Overview: index.md
  - Getting Started: getting-started.md
  - Architecture: architecture.md
  - Manager: manager.md
  - Proplet: proplet.md
  - Embedded Proplet: embedded-proplet.md
  - Proxy: proxy.md
  - Monitoring: monitoring.md
  - Reference: reference.md
  - Developer's Guide: developer-guide.md
  - Zephyr: zephyr.md
